h3 {
    text-align: center;
}
ul {
    text-align: center;
}
.delete {
    float: right;
}
.myLi {
    cursor: pointer;
    transition: 8s ease;
}
.myLi:hover {
    text-decoration: none;
    background-color: green;
    font-size: 1.5em;
    color: white;
}
.dropdown {
text-decoration: none;
 width: 50px;
 overflow: hidden; 
 height: 20px;
 transition: height 2s ease-out;
}
.dropdown a {
    padding: 5%;
    text-decoration: none;
   
}
.dropdown:hover{
    height: 150px;
}
.dropdown:hover{
    transition: height 4s ease;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}